.offers {
    h1 {
        font-family: 'Plus Jakarta Sans';
        font-weight: 600;
        font-size: 35px;
    }
    p {
        color: #596780;
        font-weight: 500;
    }

    &__cont {

        display: flex;
        gap: 35px;


    }

    &__card {
        margin-top: 30px;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 390px;


        &-about {
            display: flex;
            gap: 20px;

            p {
                font-size: 18px;
            }

            &-info {
                display: flex;
                flex-direction: column;
            }
        }
        &-barter{
            p {
                font-size: 20px;
            }
        }

        &-action{
            display: flex;
            gap: 10px;
            margin-top: auto;
            .button {
                border: 1px solid #DE8807;
                color: #DE8807;
                width: 170px;
                height: 50px;

                &:last-child{
                    background-color: #DE8807;
                    color: #fff;
                }
            }

        }
    }

}