button {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;

    color: #FFFFFF;
    border-color: transparent;

    cursor: pointer;
}